.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Pagination > a {
  font-size: 2.2rem;
  margin-left: 10px;
}
.Pagination > a::before {
  content: "||";
}
.Pagination > a::after {
  content: "||";
}
.loading {
  padding: 100px;
  font-size: 3rem;
  text-align: center;
}
