.Header {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 1px 5px #000;
  position: fixed;
}
.ContainerHeader {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ContainerLogo {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  color: #000;
  margin: 0;
}
.ContainerLogo > h2:nth-child(2) {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.Nav {
  width: 400px;
}
.Nav > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.Nav ul > li > a {
  font-weight: 600;
  font-size: 1.8em;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.Nav ul > li > a:hover {
  color: rgb(116, 116, 116);
}
.Nav ul > li > input {
  border: 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 10px;
}
.Search {
  border: 2px solid #000;
  padding-top: 10px;
  position: absolute;
  top: 53px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.Search > ul > li > a > p {
  font-size: 2rem;
}
