.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}
.title__Comic {
  font-weight: bold;
  font-style: italic;
  font-size: 1.8rem;
  text-align: center;
}
.container__Comic {
  margin: 10px;
  padding: 10px;
}
@media only screen and (max-width: 799px) and (min-width: 500px) {
  .main {
    justify-content: center;
  }
}
